#resizefont{
height:50px; 
display:none; 
height:50px;
position:relative; top:0px; padding:20px; 
background-color:#006699;
 }
.openresize{
font-size:12px;
display:block;
height:17px; 
width:150px; 
position:relative; 
top:0px; 
left:20%;
background-color:#006699;
z-index:10;
-webkit-border-bottom-right-radius: 10px;
border-bottom-right-radius: 10px;
border-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
border-bottom-left-radius: 10px;
border-left-radius: 10px;
 }
 #navigation_1 li{
display: inline; padding:20px; text-decoration:none;
 }
.list{
 	list-style-type:none; color:#FFFFFF;
}
#p2{
	text-align: center;
	color:#FFFFFF;
}