@charset "UTF-8";
/* CSS Document */

#body{font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	line-height: 14px;
}
#contenitore {
	width: 100%;
	height: 100%;
}
			p {
	font-family: Arial, Helvetica, sans-serif; color:#CCC;
	margin-top: 0;
	line-height: 130%;
	text-align: justify;
	font-size: 12px;
}
#divprova{ 
	width: 960px;
	height:550px;
	margin: 25px auto;
	padding: 40px;

-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
-moz-box-shadow: 0px 0px 25px #999999;

}