body {
	margin: 0;
	padding: 0;
	background: url(../immagini/images/img01.jpg) repeat-x left top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	line-height: 14px;
}

h1, h2, h3 {
	margin: 0;
	text-transform: uppercase;
	font-family: Trebuchet MS, Georgia, Times New Roman, Times, serif;
	font-weight: normal;
	color: #0C95C9;
}

h1 { font-size: 48px;}

h2 { font-size: 20px;
line-height: 100%;}


p {
	margin-top: 0;
	line-height: 130%;
	text-align: justify;
	font-size: 12px;
}

a { color: #0C95C9; }

a:hover { text-decoration: none; }

a img {
	border: none;
}
img {
	border: none;
}


#contenitore {
	width: 100%;
	height: 100%;

			}

/* Header */

#header {
	width: 920px;
	height: 45px;
	margin: 0 auto;
}

/* Menu */

#menu {
	float: left;
	width: 845px;
/*	height: 45px;*/
}

#menu ul {
	margin: 0;
	padding: 10px 0px 0px 5px;
	list-style: none;
	line-height: normal;
}

#menu li {
	display: inline;
	float: left;
}

#menu a {
	/*display: inline;
	float: left;*/
	margin-right: 3px;
	padding: 3px 25px 2px 25px;
	text-decoration: none;
	text-transform: capitalize;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
}

#menu a:hover { background: #FEC200 url(../immagini/images/img02-blueblk2.jpg) repeat-x left top; height: 20px; }

#menu .pagina-corrente a {
	height: 20px;
	background: #FEC200 url(../immagini/images/img02-blueblk2.jpg) repeat-x left top;
	color: #FFFFFF;
}


/* Pagina */

#pagina {
	width: 920px;
	height:550px;
	margin: 25px auto;
	padding: 40px;
}


	/** LOGO */

#logo {
	width: 910px;
	height: 134px;
	background: url(../immagini/images/img04-globe.jpg) no-repeat right top;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}

#logo h1, #logo p {
	margin: 0px;
	line-height: normal;
	text-transform: capitalize;
	font-weight: normal;
	color: #FFFFFF;
}

#logo p {
	text-transform: none;
	font-size: 14px;
}

#logo h1 {
	padding-top: 54px;
	font-size: 34px;
}



/* Contenuto */
.clear{
	clear:both;
	}
#progetto{
	width: 420px;
	margin:10px;
	border:2px solid #666666;
	display: none;
	position: relative; 
	left: 0px; 
	top: 0px;
	z-index:1;
		
	-webkit-border-radius: 100px;
	-moz-border-radius: 10px;
	border-radius: 10px; 
	-moz-transition:all 5s ease;	
	}
#descrizione{
	float:left;
	margin-right: 10px;
	margin-left: 10px;
	padding-top: 60px;
	}
#foto1 {
	float:right; 
	margin:5px;
}

#contenuto {
	float: right;
	width: 658px;
	padding-top: 3px;
	padding-right: 30px;
	height: 550px;
	
}
#contenuto2 {
	float: right;
	width: 910px;
	padding: 15px;
	height: 550px;
	
}

/* Contenuto contatti */

#contenuto-cont {
	float: right;
	width: 910px;
	padding-top: 3px;
	padding-right: 10px;
	height: 550px;
	
}
#map{
	width:450px;
	height:auto;
	padding: 20px;
	margin-left:auto;
	margin-right:auto;
	float:left;
	border:2px dotted #0C95C9;
	-webkit-border-radius: 100px;
	-moz-border-radius: 10px;
	border-radius: 10px; 
	-moz-transition:all 5s ease;
}
/* Bottoni Social */
.button{
	float:right;
	clear:both;	
	margin-right:20px;
	margin-bottom:10px;
	display:inline; 
}
.button ul li{
	list-style:none;
	display:inline;
}
.prebutton li{
	padding-bottom:10px;
}

/* Sidebar */

#sidebar {
	float: left;
	width: 177px;
	padding-left: 9px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #585D60;
}

#sidebar h2 {
	height: 26px;
	text-transform: capitalize;
	font-size: 18px;
	font-weight: normal;
	color: #464F54;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 2px;
	margin-left: 0px;
	padding-top: 8px;
	padding-right: 0;
	padding-bottom: 2px;
	padding-left: 7px;
}
#sidebar .foto {
	width: 160px;
	height: 160px;
	padding:5px;

}


/* Footer */

#footer {
	height: 49px;
	margin: 0 auto;
	background: #394144;
	padding-top: 20px;
	padding-left: 0px; 
	clear:both;

}


#copy {
	color: #FFFFFF;
	padding-top: 10px;
	text-align: center;
}
#copy p {
	font-size: 10px;
	text-align: center;
}

#copy a {
	color: #0CF;
	text-decoration:none;
}

#copy a:hover {
	color: #FFFFFF;
	text-decoration:none;
	
}
.alignleft { 
	float: left; 
	padding: 0px 15px 15px 0; 
}
.alignright { 
	float: right; 
	padding: 15px 0 15px 15px; 
}

/*form contattaci*/
#formcontatti{
	width: 400px;
	height:255px;
	float:right;
}
@media screen and (max-width: 768px) {
#menu li {
	display: block;
	float:none;
	color:red;
}
body{
	background:none;	
}
#logo{
		background: url(../immagini/images/img04-globe.jpg) no-repeat left top;
}
#sidebar {
	float: none;
}
#contenuto{ 
	width:100%;
	color:red;
}
#pagina {
	width: 100%;
}
}