@charset "UTF-8";
/* CSS Document */

body{	
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif; font-weight: 400;  
	background: url(../images/paese_fantasma.jpg) center 0 no-repeat #000;
	font-size: 12px;
	color: #666666;
	line-height: 14px;
}
#contenitore {
	width: 100%;
	height: 100%;
}
p {
	font-family: 'Dosis', sans-serif; font-weight:500; color: #666;
	margin-top: 0;
	line-height: 130%;
	text-align: justify;
	font-size: 14px;
}
#contenuto{ 
	width: 960px;
	height:auto; 
	background: url(../images/menu_bkgd_01.png) center 0 no-repeat #fff; 
	margin: 0 auto;
	padding-top:0px;
	-moz-box-shadow: 0px 0px 5px #000000;
	-webkit-box-shadow: 0px 0px 5px #000000;
	box-shadow: 0px 0px 5px #000000; z-index:0;
}
#logo{ 
	width:184px; 
	height:182px; 
	float:left; 
	margin:20px;
	background:url(../images/logo.png); 
	z-index:2;
}
/* Menu */

#menu {
	float: right;
	width: 736px;
	height: auto; padding-top:115px;
}

#menu ul {
	margin: 0;
	padding: 10px 0px 0px 5px;
	list-style: none;
	line-height: normal;
}

#menu li {
	display: inline;
	float: left;
}

#menu a {
	float: left;
	margin-right: 3px;
	padding: 3px 15px 2px 15px;
	text-decoration: none;
	text-transform: capitalize;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	color: #000000;
}

#menu a:hover {color: #666; 
}

#menu .pagina-corrente a {
	height: 20px;
	color: #E3001A;
}
#pagina {
	width: auto;
	height:auto;
	margin: 10px auto;
	clear:both;
	padding:10px;

}
#footer {
	height: 150px;
	margin: 0 auto;
	background: #666;
	padding-top: 20px;
	padding-left: 0px;
	clear:both;
}
#social {
	text-align:center;
	clear:both;	
	width:100%;
}
.icon {margin:10px;
}
#social ul	{
	margin: 0;
	padding: 0px 0px 0px 0px;
	line-height: normal;
}
#social li { 
	padding:5px;
	list-style:none;
	display:inline;
}

#map{
	margin-left:10px;
	margin-right:10px;
	margin-bottom:20px;
	width:320px;
	height:320px;
	float:left;
}
.clearfix{
	clear:both;
}
#contenutocentrale {
	width: 800px;
	padding-top: 3px;
	padding-right: 30px;
	height:auto;
	margin:auto;
	
}
#sidebar {
	float: left;
	width: 170px;
	padding-left: 9px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #585D60;
	margin-right:20px;
}

#sidebar h2 {
	height: 26px;
	text-transform: capitalize;
	font-size: 18px;
	font-weight: normal;
	color: #464F54;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 2px;
	margin-left: 0px;
	padding-top: 8px;
	padding-right: 0;
	padding-bottom: 2px;
	padding-left: 7px;
}
#sidebar .foto {
	width: 160px;
	height: 160px;
	padding:5px;

}
.persone{
	padding:10px;
	margin:10px auto;
    width:740px;
	height:auto;
	clear:both;
}
/*GALLERY*/
#fotone{
	margin:0 auto;
	height:400px;
	width:600px;
	border:1px dotted black;
	padding:0;
	display:block;
	clear:both;	
	}
#fotine{
	margin:20px auto;
	width:730px;
	height:150px;
	border:1px dotted black;
	padding-left: 30px;
	padding-right:30px;
	display:block;
	clear:both;	
	}
.foto{
	margin:4px;;
	padding:1px;;
	height:140px;
	width:170px;
	border:1px dotted black;
	float:left;
		
	}
.piccole{
	width:170px;
	height:140px;
	}
#grande{
	width:600px;
	height:400px;
	}
#gallery{
	margin:20px 0;
}
.fotochi{
	margin:4px 15px 4px 4px;
	padding:0px;;
	height:125px;
	width:170px;
	border:1px dotted black;
	float:left;
}
.context{
    width:790px;
	height:auto;
	margin:5px auto;
	padding:5px;
	background:#fff;		
		margin-bottom:2em;
		-moz-box-shadow: 0px 0px 5px #000000;
		-webkit-box-shadow: 0px 0px 5px #000000;
		box-shadow: 0px 0px 5px #000000; z-index:0;
		}	
#formcontatti{
   float:right;
   width:400px;
   margin-top:10px;
}
.contenutivari{
    width:790px;
	height:auto;
	margin:5px auto;
	padding:5px;
	background:#fff;		
		margin-bottom:2em;
		-moz-box-shadow: 0px 0px 5px #000000;
		-webkit-box-shadow: 0px 0px 5px #000000;
		box-shadow: 0px 0px 5px #000000; z-index:0;
		}
.contenutivari a:link{ 
	font-family: 'Montserrat', sans-serif;
	color:#e2001a; 
	text-decoration:none;
}
.contenutivari a:hover{ 
	font-family: 'Montserrat', sans-serif;
	color: #666; 
	text-decoration:none;
}
.contenutivari a:visited{ 
	font-family: 'Montserrat', sans-serif;
	color:#e2001a; 
	text-decoration:none;
}
.context a:link{ 
	font-family: 'Montserrat', sans-serif;
	color:#e2001a; 
	text-decoration:none;
}
.context a:hover{ 
	font-family: 'Montserrat', sans-serif;
	color: #666; 
	text-decoration:none;
}
.context a:visited{ 
	font-family: 'Montserrat', sans-serif;
	color:#e2001a; 
	text-decoration:none;
}
@media screen and (max-width: 400px) {
h1{
	font-size:14px; 
}
h2{
	line-height:130%;
}
#logo{ 
	width:100px; 
	height:100px;
	background-size:100px 100px; 
	background-repeat:no-repeat;
}
div#header{ 
	text-align:center; 
	line-height:35px;
	width:100%; 
	height:40px; 
}
#container{ 
    width:auto;
}
#contenitore {
	width: 100%;
	height: 100%;
}
#contenuto{ 
	width: 350px;
}
#content{ 
	width:auto; 
	/*display:none;*/
}
#menu {
	width:100%; 
	margin-bottom: 10px;
    padding: 15px 0px; 
	text-align:center;
 }
#menu a{
	font-size:14px;
	float:none; 
}
#menu li { border:#FFF 5px solid; 
	background-color:#cccccc;
	padding:10px;
	display: block;
	float:none;
}
#menu ul{
	padding: 10px 20px 0px 10px;
}
#pagina { margin:0px;
}
.persone{
	padding:10px;
	margin:10px auto;
    width:340px;
	height:auto;
	clear:both;
}
.context{
        width:320px;
	height:auto;
	margin:5px auto;
	padding:5px;
	background:#fff;		
		margin-bottom:2em;
		-moz-box-shadow: 0px 0px 5px #000000;
		-webkit-box-shadow: 0px 0px 5px #000000;
		box-shadow: 0px 0px 5px #000000; z-index:0;
		}	
#map{
	margin: 3px auto;
	width:320px;
	height:320px;
	clear:both;
}
#formcontatti{
   float:left;
   width:320px;
   margin-top:10px;
}
#container{
	display:none;
}

/*gallery*/


#fotone{
	display:none;
}
#fotine{
	width:320px;
	height:auto;
	margin:0;
	padding:0;
	display:block;
	clear:none;
	/*
	border:1px dotted black;
	padding-left: 30px;
	padding-right:30px;
	display:block;
	clear:both;	*/
}
.foto{
	width:300px;
	height:150px;
	margin:5px auto;
	padding:1px;;
	border:1px dotted black;
	display:block;
	float:none;
}
#gallery{
	width:320px;
	height:auto;
}
.piccole{
	width:300px;
	height:150px;
	margin:0;
}
.contenutivari{
    width:320px;
	height:auto;
	margin:5px auto;
	padding:5px;
	background:#fff;		
		margin-bottom:2em;
		-moz-box-shadow: 0px 0px 5px #000000;
		-webkit-box-shadow: 0px 0px 5px #000000;
		box-shadow: 0px 0px 5px #000000; z-index:0;
}

/*


.foto{
	margin:4px;;
	padding:1px;;
	height:140px;
	width:170px;
	border:1px dotted black;
	float:left;
		
	}
.piccole{
	width:170px;
	height:140px;
	}
#grande{
	width:600px;
	height:400px;
	}
#gallery{
	margin:20px 0;
}
*/

}