@charset "UTF-8";
/* CSS Document */
@media screen and (max-width: 400px) {
article{
display:none;
}
#mainarc{
display:none;
}
#accordion{
	display:block;
	font-size:12px
}
}

@media only screen and (min-width: 480px) {
#accordion{
display:none;
}

}