/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 10px solid #093;
}

.footer-container,
.main aside {
    border-top: 20px solid #093;
}

.header-container,
.footer-container,
.main aside {
    background: #fff;
}

.title {
    color: black;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #093;
}

nav a:hover,
nav a:visited {
    text-decoration: underline;
}



/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: black;
    padding: 0px 10px 10px 10px;
}

.footer-container footer {
    color: black;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#pagcorrente{
    color:#093;
	background:white;
	border-left:1px solid #093;
	border-right:1px solid #093;
}
nav a:hover {
    color:#093;
	background:white;
	border-left:1px solid #093;
	border-right:1px solid #093;
}
.piccole{
	width:150px;
	height:100px;
	
}
#fotogroup{
	height:224px;
	width:516px;
	border:1px dotted green;
	float:left;
	margin:0 10px;
}
.foto{
	height:100px;
	width:150px;
	float:left;
	border:1px dotted green;
	margin:5px 10px;
}
#fotone{
	height:220px;
	width:450px;
	border:1px dotted green;
	float:right;
	padding:5px;
	}
#grande{
	height:220px;
	width:450px;
}
#mainarc{
	-webkit-box-shadow: 0px 0px 10px rgba(46, 50, 50, 0.77);
-moz-box-shadow:    0px 0px 10px rgba(46, 50, 50, 0.77);
box-shadow:         0px 0px 10px rgba(46, 50, 50, 0.77);
	background: #009933; /* Old browsers */

background: -moz-linear-gradient(left,  #009933 0%, #29d846 84%, #009933 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, right top, color-stop(0%,#009933), color-stop(84%,#29d846), color-stop(100%,#009933)); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(left,  #009933 0%,#29d846 84%,#009933 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(left,  #009933 0%,#29d846 84%,#009933 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(left,  #009933 0%,#29d846 84%,#009933 100%); /* IE10+ */

background: linear-gradient(to right,  #009933 0%,#29d846 84%,#009933 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009933', endColorstr='#009933',GradientType=1 ); /* IE6-9 */


	border-radius:5px;
	padding:10px;
	color:white;
}
aside{
margin-top: 20px;
}
section{	
	border-top:3px dotted #009933;
}
.asideimg{
	width:180px;
	height:135px;
	margin:5px auto 5px auto;	
}













/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 40%;
        margin: 0 1.7%;
        padding: 10px 2%;
        margin-top: 40px;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
	
.title {
    color: black;
	text-align:center;
}
}
/*----------------
SLIDE PAGINA CONTATTI
-------------------*/

@media screen and (max-width: 400px) {
.piccole{
	width:135px;
	height:90px;
	
}
#fotogroup{
	height:auto;
	width:300px;
	border:1px dotted green;
	float:left;
	margin:0;
}
.foto{
	height:90px;
	width:135px;
	float:left;
	border:1px dotted green;
	margin:5px;
}
#fotone{
	display:none;
	height:220px;
	width:450px;
	border:1px dotted green;
	float:right;
	padding:5px;
	}
#grande{
	display:none;
	height:220px;
	width:450px;
}
}
@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
		color:black;
        float: left;
		margin-top:50px;
		margin-bottom:10px;
    }

    nav {
        float: right;
        width: 38%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
		float: left;
        width: 70%;
		padding:0 20px 5px 5px;
		margin-top:20px;
		border-right:10px solid #009933;
}

    .main aside {
        float: right;
        width: 20%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}